<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "제목 タイトル" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "내용 内容" %>
    <%= form.text_area :description, size: "100x2" %>
  </div>

  <div class="actions">
    <%= form.submit "작성(作成)"%>
  </div>
<% end %>
