<p id="notice"><%= notice %></p>


<% if user_signed_in? %>
	<% login_ID = current_user.email %>
	<% login_PID = current_user.id %>
<% else %>
	<% login_ID = "" %>
	<% login_PID = 0 %>
<% end %>


<p>
	<% if Like.find_by(user_id: login_PID , blog_id: @blog.id) %>
	<%= link_to("💕", "/blogs/#{@blog.id}/likes/destroy", {method: "post"}) %>
	<% else %>
	<%= link_to("🖤", "/blogs/#{@blog.id}/likes/create", {method: "post"}) %>
	<% end %>
	<%= Like.where(blog_id: @blog.id).count %>
</p>


<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <%= @blog.description %>
</p>
<hr />

<p>
<%= link_to 'Back', blogs_path %>	
&nbsp;&nbsp;
<%= link_to 'Edit', edit_blog_path(@blog) %>
&nbsp;&nbsp;
<%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<hr />

<h3>
	comment
</h3>
    <% @blog.comments.each_with_index do |comment, index| %>
      <div>
		  <p>
			  <span><%= index+1 %>.</span>
			  <%= comment.writer %>
			  <%= comment.comment %>
			  <% if comment.writer == login_ID %>
			  <span><%= link_to "delete", [comment.blog, comment], method: :delete, data: { confirm: "delete?"} %></span>
			  <% end %>
		  </p>
		  
 	 </div>
    <% end %>



<hr />


<%= render 'comments/form' %>


