<p id="notice"><%= notice %></p>
<h1>
	Blog
</h1>

<% if user_signed_in? %>
	<% login_ID = current_user.email %>
<% else %>
	<% login_ID = "" %>
<% end %>


<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
<%= link_to 'Back', blogs_path %>	
</p>
<p>
<%= link_to 'Edit', edit_blog_path(@blog) %>
</p>
<p>
<%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<hr />

<h3>
	comment
</h3>
    <% @blog.comments.each_with_index do |comment, index| %>
      <div>
		  <p>
			  <span><%= index+1 %>.</span>
			  <%= comment.writer %>
			  <%= comment.comment %>
			  <% if comment.writer == login_ID %>
			  <span><%= link_to "delete", [comment.blog, comment], method: :delete, data: { confirm: "delete?"} %></span>
			  <% end %>
		  </p>
		  
 	 </div>
    <% end %>



<hr />

<h3>
	comment작성
</h3>
<%= render 'comments/form' %>


