<p id="notice"><%= notice %></p>
<h1>
	<a href="/blogs/<%= @blog.id %>/chu" style="text-decoration:none"> &#x1F61A;</a>
</h1>
	<% i = 0 %>
	<% while i < @blog.thumbup %>
	&#x1F61A;
	<% i += 1 %>
	<% end %>

<% if user_signed_in? %>
	<% login_ID = current_user.email %>
<% else %>
	<% login_ID = "" %>
<% end %>


<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <%= @blog.description %>
</p>
<hr />

<p>
<%= link_to 'Back', blogs_path %>	
&nbsp;&nbsp;
<%= link_to 'Edit', edit_blog_path(@blog) %>
&nbsp;&nbsp;
<%= link_to 'Delete', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<hr />

<h3>
	comment
</h3>
    <% @blog.comments.each_with_index do |comment, index| %>
      <div>
		  <p>
			  <span><%= index+1 %>.</span>
			  <%= comment.writer %>
			  <%= comment.comment %>
			  <% if comment.writer == login_ID %>
			  <span><%= link_to "delete", [comment.blog, comment], method: :delete, data: { confirm: "delete?"} %></span>
			  <% end %>
		  </p>
		  
 	 </div>
    <% end %>



<hr />


<%= render 'comments/form' %>


