<h1>어디가 아프십니까??</h1>
<br />
<%= link_to "HOME", root_path  %>
<br />
<hr />
<div>
	rails g model Weedoc category organ sign1 sign2 strong cause expect
</div>
<%= link_to "추가", weedocs_add_path %>  &nbsp;&nbsp;
<!--<%= link_to "삭제", weedocs_delete_path %>-->
<br />
검색

-대분류: 내장, 뼈/근육
-기관
-증상1
-증상2
-강도
-원인
-예상


검색 -대분류: 내장, 뼈/근육 -기관 -증상1 -증상2 -강도 -원인 -예상
rails g model Weedoc category organ sign1 sign2 strong cause expect
<hr />

<% @weedocs.each do |weedoc| %>
	<%= weedoc.id %>
	<br>
	<%= weedoc.category%>
	<br>
<% end %>

<select>
	<% @weedocs.each do |weedoc| %>
	<option value="<%= weedoc.id %>"> <%= weedoc.category %></option>
	<% end %>
</select>
	

<% def wow1 a,b 
	c = a + b
	return c
end %>
	<%= @weedocs.size %>
, 
<%= @weedocs.class %>
<br>
%%%%%%
<br>
<%= Weedoc.where(id: 3) %>
<%= Weedoc.find(3).category %>
<br>
******
<br >
<%= @wee2 = Weedoc.select(:category).distinct %>
<% @wee2.each do |weedoc| %>
	<%= weedoc.category%>
	<br>
<% end %>
<%= @wee2.class %>
<hr >
<%= @wee3 = Weedoc.where(category: "내장").select(:sign1).distinct %>
<br >
$$$$$$$$$$$$$
<%= @wee3[0].sign1 %>
<br >
<% @wee3.each do |weedoc| %>
	<%= weedoc.sign1%>
	<br>
<% end %>

<br >
<%= Weedoc.where(id: 3).to_sql %>
<hr >

<div id='result'>
	a	
</div>
<div id='result2'>
	aa
</div>

<select id="select_cat" onchange="select_cat(this)">
	<option value="" selected disabled>--선택--</option>
	<% @wee3 = Weedoc.select(:category).distinct %>
	<% @wee3.each do |weedoc| %>
	<option value="category"><%= weedoc.category %></option>
	<% end %>
</select>



<select class="sign1" onmouseout="" onchange="selectSign1()">
</select>


<select id="select_org" onchange="select_org()">
	<% @wee4 = Weedoc.where(category: "내장").select(:organ).distinct %>
	<% @wee4.each do |weedoc| %>
	<option value="category"><%= weedoc.organ %></option>
	<% end %>
</select>


<% def db_export(str)
	
	@wee5 = Weedoc.where(category: str).select(:organ).distinct
	arr = []
	brr = "[ 선택 "
	@wee5.each do |weedoc|
		arr << weedoc.organ
		brr = brr + ", " + " \"#{weedoc.organ}\" "
	end
	brr = brr + "]"
	return brr
	
end %>


<script type="text/javascript">
	function select_cat(e){
		//var catSelect = document.getElementById("select_cat");
		//var selectText = catSelect.options[catSelect.selectedIndex].text;
		
		var selectCat = e.options[e.selectedIndex].text;
		
		document.getElementById('result2').innerText = "<%= db_export(@wee3[1].category) %>"
		
		switch(selectCat){
			<% @wee3.each do | weedoc |  %>
			case '<%= weedoc.category %>' :
				
				var subOption = [ '-기관-' <% Weedoc.where(category: weedoc.category).select(:organ).distinct.each do | wee | %>
									,'<%= wee.organ %>'
									<% end %> ];
				break;
			<% end %>

		}
			
		var select = document.querySelector('.sign1');

		select.options.length = 0;
		var option = document.createElement('option');
		//option.innerText = "---HHH---";
		option.select = 0;
		//select.append(option);
		
		document.getElementById('result').innerText = subOption[2];
		
		for (var i = 0; i < subOption.length; i++){
			var option = document.createElement('option');
			option.innerText = subOption[i];
			select.append(option);
		}
	}

</script>

<br />
<br />
<br />
<br />
<br />
<hr />

<table border=1>
  <head>
    <tr>
	  <th>번호</th>
	  <th>id</th>
	  <th>대분류</th>
      <th>기관</th>
	  <th>증상1</th>
	  <th>증상2</th>
	  <th>강도</th>
	  <th>원인</th>
	  <th>예상</th>
    </tr>
  </head>

  <body>
    <% @weedocs.each_with_index do |weedoc, index| %>
      <tr>
		<td><%= index+1 %></td>
		<td><%= weedoc.id %></td>
		<td><%= weedoc.category %></td>
        <td><%= weedoc.organ %></td>
		<td><%= weedoc.sign1 %></td>
		<td><%= weedoc.sign2 %></td>
		<td><%= weedoc.strong %></td>
		<td><%= weedoc.cause %></td>
		<td><%= weedoc.expect %></td>
		<td><%= link_to("delete", "/weedocs/delete/#{weedoc.id}", method: :delete, data: { confirm: "delete?"}) %></td>
    <% end %>
  </body>
</table>
