<style>
	.weedoc{
            display: grid;
			/* grid-template-columns: repeat(2, 300px); */
            /* grid-template-rows: repeat(5, 50px); */
			/* background-color: pink; */

            /* justify-items: center; */
            /* align-items: center; */
            
            /* justify-content: center; */
            /* align-content: center; */
            /* height: 100vh; */
        }
	.weedoc div{
			border: 1px solid pink;
	}
	
	.cause{
		grid-column: 2/span 2;
		grid-row: 1/span 2
	}
	
	.expect{
		grid-column: 2/span 2;
		grid-row: 3/span 4
		
	}
</style>

<h1>어디가 아프십니까??</h1>
<br />
<%= link_to "HOME", root_path  %>
<br />
<hr />
<div>
	rails g model Weedoc category organ sign1 sign2 strong cause expect
</div>
<div>
	cloud IDE장애 생기면, 아무것도 못하네. 로컬 리눅스를 사용하는 걸 익숙해져야겠다.
</div>
<%= link_to "추가", weedocs_add_path %>  &nbsp;&nbsp;
<!--<%= link_to "삭제", weedocs_delete_path %>-->
<br />


<div class="weedoc">
	<div class="show"><iframe src="search.html" name="weedoc" width="100%" height="100%" frameborder="0" scrolling="no"marginwidth="0" marginheight="0"></iframe></div>	
</div>



<script type="text/javascript">

</script>

<br />
<br />
<br />
<br />
<br />
<hr />

<button onclick=dbshow()>db</button>
<div id="dbtable" style="display: none;">
<table border=1>
  <head>
    <tr>
	  <th>번호</th>
	  <th>id</th>
	  <th>대분류</th>
      <th>기관</th>
	  <th>증상1</th>
	  <th>증상2</th>
	  <th>강도</th>
	  <th>원인</th>
	  <th>예상</th>
    </tr>
  </head>

  <body>
    <% @weedocs.each_with_index do |weedoc, index| %>
      <tr>
		<td><%= index+1 %></td>
		<td><%= weedoc.id %></td>
		<td><%= weedoc.category %></td>
        <td><%= weedoc.organ %></td>
		<td><%= weedoc.sign1 %></td>
		<td><%= weedoc.sign2 %></td>
		<td><%= weedoc.strong %></td>
		<td><%= weedoc.cause %></td>
		<td><%= weedoc.expect %></td>
		<td><%= link_to("delete", "/weedocs/delete/#{weedoc.id}", method: :delete, data: { confirm: "delete?"}) %></td>
    <% end %>
  </body>
</table>
</div>

<script type="text/javascript">
	function dbshow(){
		if (document.getElementById("dbtable").style.display == 'block')
			document.getElementById("dbtable").style.display ='none';
		else
			document.getElementById("dbtable").style.display ='block';
		
	}
</script>